tags
.DS_Store
*.o
*.obj
*.s
*.ll
*.bc
*.a
*.exe
*.sublime*
.*.swp
*.dSYM/
waf-*
waf3-*
.lock-waf*
tmp.eof
src/.vs
CppProperties.json
build/
work/
output/
_ReSharper.*
.vscode/
src/common/dtrace_probes.h
