tags
.DS_Store
*.o
*.obj
*.s
*.ll
*.bc
*.a
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.sublime*
.*.swp
.*.swo
*.dSYM/
*.psess
*.vspx
waf-*
waf3-*
.lock-waf*
tmp.eof
tmp.longline
.vs/
CppProperties.json
build/
work/
output/
_ReSharper.*
.vscode/
src/common/dtrace_probes.h

# Allow these paths
!src/libponyrt/lang/except_try_catch.ll
