[attr]pony text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=2
[attr]win  text eol=crlf whitespace=tab-in-indent,trailing-space,tabwidth=2

.gitattributes pony
.gitignore pony

*.c pony
*.cc pony
*.h pony
*.pony pony
*.yml pony
*.sh pony
*.bash pony

*.bat win

*.asc pony

pony.g export-ignore
.gitattributes export-ignore
.gitignore export-ignore

CHANGELOG.md merge=union
