Source: ponyc
Maintainer: Pony Core Team <buildbot@pony.groups.io>
Build-Depends: debhelper (>= 9.0.0), git, zlib1g-dev, libncurses5-dev, libssl-dev, libpcre2-dev, llvm, llvm-dev
Priority: optional
Standards-Version: 3.9.7
Section: devel

Package: ponyc
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g-dev, libssl-dev, libpcre2-dev, gcc
Description: pony language compiler
  Compiler for the pony programming language.
  Pony is an open-source, actor-model, capabilities-secure, high performance programming language
  http://www.ponylang.io
