name: Manually rebuild stdlib-builder

on:
  workflow_dispatch

concurrency:
  group: "rebuild-stdlib-builder"
  cancel-in-progress: true

jobs:
  rebuild-stdlib-builder:
    name: Update stdlib-builder Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        # v2.2.0
        uses: docker/login-action@5139682d94efc37792e6b54386b5b470a68a4737
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Build and push
        run: bash .ci-dockerfiles/stdlib-builder/build-and-push.bash
        env:
          MATERIAL_INSIDERS_ACCESS: ${{ secrets.MATERIAL_INSIDERS_ACCESS }}
